*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.box {
  max-width: calc(1200px + 30px);
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
  /* border: 1px solid red; */
}

.section-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: var(--cl-black);
}
